*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}
    div{
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: darkblue;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}